// Here we override the default color scheme used by Bulma,
// with our own colour palette
$primary-light: #99ccff;
$clicked: #c2e0ff;
$faded: #ebf5ff;
$yellow: #ffec8f;

$primary: #1e90ff;
$link: $primary-light;
$info: $clicked;
$danger: $faded;
$warning: $yellow;

//testing title size
$size-1: 4em;

// This stylesheet is provided by the `oruga-bulma` project,
// https://github.com/oruga-ui/oruga-bulma
//
// It ties together the bulma CSS framework,
// and the 'oruga' Vue UI component framework.
@import "my-vue-app/src/assets/scss/plugin.scss";

@import 'oruga-fixes.scss';