// Here we override the default color scheme used by Bulma,
// with our own colour palette
$primary-light: #99ccff;
$clicked: #c2e0ff;
$faded: #ebf5ff;
$yellow: #ffec8f;

$primary: #1e90ff;
$link: $primary-light;
$info: $faded;

// TODO: @l1king, how do we want "error" conditions to stand out?
// $danger: $faded;
$warning: $yellow;

//testing title size
$size-1: 4em;

@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/initial-variables";
